<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>TopEntertainment</title>

    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/jquery-datatable/css/jquery.datatables.min.css" />
    <link rel="stylesheet" href="~/lib/icon/css/icon.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <script src="~/lib/jquery/js/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/js/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/js/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/lib/jquery-datatable/js/jquery.datatables.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/util.js"></script>
    <script src="~/js/site.js"></script>

    @RenderSection("Styles", required: false)
</head>
<body>
    <header>
        <span>Top Entertainment</span>
        <a class="float-right" asp-controller="Home" asp-action="Logout">登出</a>
    </header>

    <section class="main-frame">
        <aside>
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Administrator" asp-action="Index">管理者管理</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Member" asp-action="Index">會員管理</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Transaction" asp-action="Index">交易紀錄</a>
                </li>
                <li class="nav-item">
                    <div class="accordion" id="menu-accordion-report">
                        <div class="accordion-head" id="menu-accordion-report-head">
                            <a href="#" data-toggle="collapse" data-target="#menu-accordion-report-content" aria-expanded="false" aria-controls="menu-accordion-report-content">統計報表</a>
                        </div>

                        <div class="acoordion-content collapse" id="menu-accordion-report-content" aria-labelledby="menu-accordion-report-head" data-parent="#menu-accordion-report">
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <a class="nav-link disabled" href="#">會員報表</a>
                                    <a class="nav-link disabled" href="#">充值兌換</a>
                                    <a class="nav-link disabled" href="#">首頁流量</a>
                                    <a class="nav-link disabled" href="#">第三方遊戲</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">活動管理</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">版面配置</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">第三方遊戲管理</a>
                </li>
            </ul>
        </aside>

        <article>
            <div class="container-fluid">
                @RenderBody()
            </div>
        </article>
    </section>

    <footer>&copy; Motivators 2019</footer>

    @RenderSection("Scripts", required: false)
</body>
</html>
