/* General */
html, body {
    width: 100vw;
    height: 100vh;
    font-size: 14px;
    margin: 0px;
    padding: 0px;
}

header {
    background: linear-gradient(45deg, black, #696060de);
    color: #ceefed;
    font-weight: 900;
    font-size: 15px;
    padding: 8px 30px;
}

footer {
    background: linear-gradient(45deg, #696060de, black);
    color: #ceefed;
    text-align: center;
    font-weight: 900;
    font-size: 15px;
    padding: 8px 30px;
}

/* Common */
.common-background {
    width: 100%;
    height: 100%;
    background-image: url(../images/background.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.common-overlay {
    width: 60%;
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
}

.common-logo {
    width: 60px;
    height: 60px;
}

/* Main */
.main-frame {
    height: calc(100% - 76px);
}

    .main-frame aside {
        width: 200px;
        height: 100%;
        float: left;
        padding: 10px;
    }

        .main-frame aside .accordion {
            padding: 0.5rem 1rem;
        }

        .main-frame aside .acoordion-content {
            margin-top: 10px;
        }

    .main-frame article {
        width: calc(100% - 200px);
        height: 100%;
        overflow-y: auto;
        padding: 10px;
    }

/* Bootstrap */
.breadcrumb {
    font-size: 1rem;
    font-weight: bold;
}

.col-form-label {
    font-size: 1rem;
}


/* DataTable */
.dataTables_button {
    display: inline-block;
}

    .dataTables_button .icon-create {
        font-size: 23px;
    }